    <% layout('layouts/boilerplate') %> 
   
    

    <div class="mb-4" id="cluster-map" ></div>


    </div>
    <h1 class="text-center"> Our Properties</h1>
        <% for(let campground of campgrounds){ %> 
           <div class="card mb-3">
               <div class="row">
                   <div class="col-md-4">
                       <% if(campground.images.length){ %> 
                       <img class="img-fluid" src="<%=campground.images[0].url %> " alt="">
                       <% }else{ %> 
                        <img class="img-fluid" src="https://tacm.com/wp-content/uploads/2018/01/no-image-available.jpeg" alt="">
                        <% } %> 
                   </div>
                   <div class="col-md-8">
                       <div class="card-body">
                        <h5 class="card-title"><%=campground.title %> </h5>
                        <p class="card-text"><%=campground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%=campground.location %></small>
                        </p>
                        <a class="btn btn-primary" href="/properties/<%=campground._id %>">View Property</a>
                       </div>
                   </div>
               </div>
           </div>
            
        <% } %> 
        <script>
            const campgrounds = {features : <%- JSON.stringify(campgrounds)%>}
        </script>

        <script src="javascripts/clusterMap.js"></script>
